.cal{
  .pt(5);
  .pl(10);
  .pr(10);
  color: @white;
    /*padding-bottom: 100%;*/
 /* background: @lightGrey;*/
  height: calc( 100vh - 0.13333333rem );
  background: url('/assets/cal-bg.png') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(1.2);
  .select-wrapper{
    display: flex;
    background: rgba(255,255,255,0.7);
    border-radius: 2px;
    align-items: center;
    .mt(10);
    select{
      flex: 1;
      .pt(12);
      .pb(12);
      .pl(7);
      .fs(15);
      width: 100%;
      border: 0;
      border-radius: 2px;
      /*background: rgba(255,255,255,0.8);*/
    }
    i{
      .pr(8);
      .fs(19);
      color: #c5463f;
    }
  }
  .date-picker{
    .mt(10);
    display: flex;
    align-items: center;
    background: rgba(255,255,255,0.3);
    border-radius: 2px;
    >div{
      .pt(8);
      .pb(8);
      >label {
        .fs(14);
        color: #999;
      }
    }
    >*{
      flex: 1;
    }
    >.fa{
      .fs(20);
      display: block;
      color: @darkGrey;
    }
    .date-picker-trigger{
      .fs(16);
      color: @white;
      font-weight: 600;
      outline: 0;
      border-width: 0;
      background: rgba(255,255,255,0);
      text-align: center;
      width: 100%;
    }
  }
  .divider{
    .fs(15);
    .pt(5);
    .pb(5);
/*    color: @white;*/
  }
  .number-picker{
    .pt(10);
    .pb(10);
    .pl(5);
    .pr(5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255,255,255,0.3);
    border-radius: 2px;
    &.mt{
      .mt(10);
    }
    &:first-child{
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    &:last-child{
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
    .picker{
      display: flex;
      align-items: center;
      .fa{
        .fs(25);
        /*color: @white;*/
      }
      .lbl-title{
        .fs(16);
      }
      h1{
        .w(20);
        .pl(30);
        .pr(30);
        .fs(26);
        color: rgba(255,255,255,1);
        font-weight: 500;
        text-align: center;
      }
    }
  }
}