.hotel{
  background-color: #fff;
  .container{
    .pb(57.5);
    >.block{
     //.pt(5);
     .pr(10);
     .pb(5);
     .pl(10);
     h1{
       .mt(10);
       .mb(10);
       .fs(14);
       font-weight: 400;
       color: #868686;
       >i{ .mr(5); }
     }
     pre{
      width: 100%;
      white-space: pre-wrap;
      .lh(22);
      .fs(13);
      .mt(0);
      .mb(0);
       .pb(10);
      color: @blockTextColor;
       border-bottom: 1px solid #ececec;
     }
     >ul.list{
        margin: 0;
        padding: 0;
        list-style: none;
         .pb(10);
         border-bottom: 1px solid #ececec;
       >li.list-item{
         .mt(10);
        ul{
          display: flex;
          flex-wrap: wrap;
          margin: 0;
          padding: 0;
          .pl(23);
          list-style: none;
          >li{
            width: 33.33%;
            color: @blockTextColor;
            .fs(13);
          }
          &.vertical{
            .mt(0);
            /*.ml(22);*/
            flex-direction: column;
            list-style: square;
            line-height: 0.6rem;
            >li{
              width: 100%;
            }
          }
        }
        p{
          .fs(13);
          .pt(5);
          color: @blockTextColor;
        }
       }
     }
     >.text{
       .fs(13);
       .pt(12);
       .pr(10);
       .pb(12);
       .pl(10);
       .fa-map-marker{
         .fs(22);
         .mt(-11);
         top: 50%;
         .right(10);
         color: #f3707d;
       }
     }
   }
  }
  .map-banner{
    .pt(10);
    .map{
      width: 100%;
      .h(116);
      background-image: url('/assets/map-banner.png');
      background-position: 33% 50%;
      background-size: cover;
      border-top-left-radius: 6%;
      border-top-right-radius: 6%;
      >.cover{
        width: 100%;
        height: 100%;
        background: #24293d;
        opacity: 0.66;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        >.text{
          top: 50%;
          .left(18);
          margin-top: -28.5px;
          >h1,h2{ color: white; }
          >h1{ .fs(17); .mb(10); font-weight: 400; }
          >h2{
            .fs(13);
            font-weight: 400;
            .max-w(230);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            >i{ .mr(5) }
          }
        }
        >.navi{
          top: 50%;
          .mt(-18.33);
          .right(18);
          color: #20b176;
          .icon{
            display: block;
            margin: 0 auto;
            .h(22);
          }
        }
      }
    }
    .phone{
      .pt(17);
      .pb(17);
      .pl(20);
      .fs(14);
      color: #3b3b3b;
      background: white;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 1px 4px 10px #ccc;
    }
  }
}
