.hotelsList{
  .container{
    display: flex;
    flex-direction: column;
    .gallery{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .pt(20);
      .block{ /** gallery item */
        .h(90);
        .w(100);
        .ml(9);
        .mr(9);
        .mb(15);
        img{
          width: 100%;
          height: 100%;
          border-radius: 15%;
        }
      }
    }
  }
}