.hotelsList{
  .container{
    display: flex;
    flex-direction: column;
    .gallery{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .pt(12);
      .block{
        width: 50%;
        >a {
          display: inline-block;
          .m(10);
          margin-top: 0;
          background: white;
          text-decoration: none;
          border-radius: 6px;
          > img {
            width: 100%;
            .h(110);
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
          }
          > .title{
            margin: 0;
            .pt(3);
            .pr(8);
            .pb(3);
            .pl(8);
            .fs(15);
            font-weight: 400;
            color: #686868;
          }
          > .sub-title {
            display: inline-block;
            margin: 0;
            .mb(20);
            .w(100);
            .pl(8);
            .fs(10);
            white-space: nowrap;
            color: #959595;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          > .price-tag {
            color: #a9a9a9;
            .fs(10);
            .bottom(15);
            .right(5);
            > .currency {
              color: #d48a34;
            }
            > .price {
              .pr(5);
              font-family: 'ms-constan';
              color: #d48a34;
              .fs(15);
            }
          }
        }
        &:nth-child(odd) {
          >a {
            margin-right: 5px;
          }
        }
        &:nth-child(even) {
          >a {
            margin-left: 5px;
          }
        }
      }
    }
  }
}
