.order {
  height:cacle(100vh - 0.4rem);
  color: #333;
  background: @lightGrey;
  .pt(8);
  ul{
    margin: 0;
    padding: 0;
    .fs(14);
    >li {
      line-height: 0.65rem;
    }
  }
  .container{
    .mb(75);
    background-color: @lightGrey;
    .block{
      background-color: @white;
      border-bottom: 1px solid #c4c4c4;
      /*-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);*/
      .mb(10);
      .pt(12);
      .pb(12);
      .pl(10);
      /*.pr(10);*/
      h2{
        margin: 0;
        .fs(15);
        .mb(5);
      }
      h2+span{
        display: block;
        .fs(15);
        .mb(5);
      }
      .list-wrapper{
        .mt(10);
        .pt(5);
        border-top: 1px solid @borderBottomColor;
        span{
          color: @darkGrey;
        }
      }
      button{
        .w(150);
        .mt(10);
        .pt(2);
        .pb(2);
        outline: 0;
        background-color: #999999;
      }
    }
    ul.list{
      margin: 0;
      padding: 0;
      >li{
        list-style: none;
        .pt(8);
        .pb(8);
        border-bottom: 1px solid @borderBottomColor;
        &:last-child{
          .pb(0);
        }
        >i.fa-angle-right{
          top: 50%;
          .fs(24);
          .mt(-12);
          .mr(10);
          .right(0);
          color: #8a8a8a;
        }
        >span{
          .ml(48);
          &:first-child {
            .mr(10);
          }
          &:last-child {
            .ml(75);
          }
        }
      }
    }
    ul.room-info{
      border-bottom: 1px solid @borderBottomColor;
      .pb(8);
      >li{
        list-style: none;
        >span{
          .fs(14);
          color: @dark;
        }
      }
    }
  }
  .extra{
    .pt(9);
    .pr(10);
  }
  input[type="text"]{
    width: calc(100% - 0.18rem * 2);
    .pt(10);
    .pb(10);
    .fs(14);
    outline: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid @borderBottomColor;

  }
  input[type="checkbox"]+span{
    display: inline;
    .fs(10);
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: @placeholderColor;
      opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: @placeholderColor;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: @placeholderColor;
  }

  .footer{
    display: flex;
    background: @white;
    color: #333;
    .fs(12);
    >div{
      flex: 1;
      background-color: #f5f5f5;
      .pt(14);
      .pr(10);
      .pb(14);
      .pl(10);
      .fs(14);
      span{
        .fs(18);
      }
    }
    button{
      .w(170);
      .fs(16);
      color: @white;
      border: 0;
      background-color: #474aa7;
    }
  }
}