.profile{
  height: 100vh;
  background-color: #f5f5f5;
  .level{
    .h(270);
    background: url('/assets/profile01.jpg') no-repeat 50% 50%;
    background-size: cover;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    h1{
      .fs(19);
    }
    h2{
      .fs(14);
      font-weight: 400;
    }
    label{
      .pt(2);
      .pr(10);
      .pb(2);
      .pl(10);
      .ml(20);
      border-radius: 30%;
      background-color: @labelBgColor;
      color: @labelColor;
    }
    .tips{
      .mt(15);
    }
  }
  .score{
    .pt(19);
    .pr(17);
    .pb(19);
    .pl(17);
    h2{
      .fs(14);
      .mb(24);
      font-weight: 400;
      color: #8b8b8b;
    }
    button{
      .mt(6);
      .pt(3);
      .pr(15);
      .pb(3);
      .pl(15);
      border-radius: 3px;
      color: @white;
      background-color: #797979;
    }
  }
  ul{
    margin: 0;
    .mt(10);
    padding: 0;
    .pl(10);
    color: #3b3b3b;
    list-style: none;
    background-color: @white;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    li{
      .pt(10);
      .pb(10);
      border-bottom: 1px solid #ebebeb;
      &:last-child{
        border-bottom: none;
      }
      i{
        top: 50%;
        .right(10);
        .h(12);
        .mt(-6);
      }
    }
  }
  .inline-button{
    width: 100%;
    .mt(22);
    .pt(10);
    .pb(10);
    background-color: @white;
  }
  .pro-head {
    width: 2.3rem;
    height: 2.3rem;
    border: 2px solid @white;
    border-radius: 50%;
    position: absolute;
    top: 1.55rem;
    left: 45%;
    .ml(-20);
    background: url('/assets/profile02.jpg') no-repeat center center;
    background-size: cover;
  }
  .pro-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    top: 5rem;
    .info-row{
      width: 100%;
      line-height: .8rem;
      .pl(25);
      div {
        &:extend(.fl);
        width: 33%;
        color: @white;
      }
      &:last-child{
        .fs(16);
        font-weight: 500;
      }
    }
  }
}