.profile{
  .mb(75);
  .level{
    .pt(68);
    .pr(15);
    .pb(55.62);
    .pl(15);
    color: @white;
    h1{
      .fs(19);
    }
    h2{
      .fs(14);
      font-weight: 400;
    }
    label{
      .pt(2);
      .pr(10);
      .pb(2);
      .pl(10);
      .ml(20);
      border-radius: 30%;
      background-color: @labelBgColor;
      color: @labelColor;
    }
    .tips{
      .mt(15);
    }
  }
  .score{
    .pt(19);
    .pr(17);
    .pb(19);
    .pl(17);
    h2{
      .fs(14);
      .mb(24);
      font-weight: 400;
      color: #8b8b8b;
    }
    button{
      .mt(6);
      .pt(3);
      .pr(15);
      .pb(3);
      .pl(15);
      border-radius: 3px;
      color: @white;
      background-color: #797979;
    }
  }
  ul{
    margin: 0;
    .mt(22);
    padding: 0;
    .pl(10);
    color: #3b3b3b;
    list-style: none;
    background-color: @white;
    li{
      .pt(10);
      .pb(10);
      border-bottom: 1px solid #ebebeb;
      i{
        top: 50%;
        .right(10);
        .h(12);
        .mt(-6);
      }
    }
  }
  .inline-button{
    width: 100%;
    .mt(22);
    .pt(10);
    .pb(10);
    background-color: @white;
  }
}