.roomsList{
  background: @lightGrey;
  .pb(60);
  .search{
    display: flex;
    .pt(10);
    .pr(10);
    .pb(6);
    .pl(10);
    .fa{
      .h(30);
      .lh(30);
      .pl(10);
      width: 100%;
      color: @darkGrey;
      background: @white;
      border: 1px solid #dbdbdb;
      border-radius: 35px;
    }
    input{
      .pl(5);
      width: 90%;
      outline: 0;
      border-width: 0;
    }
  }
  ul{
    margin: 0;
    .mt(5);
    padding: 0;
    .pl(10);
    .pr(10);
    /*.pl(8);
    .pr(8);*/
    list-style: none;
    background: @lightGrey;
    >li{
      .h(165);
      .mb(5);
      background-size: cover;
      background-position: center;
      border-radius: 4px;
      a{
        display: block;
        text-decoration: none;
        width: 100%;
        height: 100%;
        img{
          display: none;
          .w(64);
          .h(64);
        }
      }
      .shade{
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background-color: rgba(0,0,0,0.3);
        .desc{
          flex: 1;
          .pl(10);
          color: @white;
          .fs(17);
          font-weight: 500;
          .bottom(8);
          .labels{
            .mt(2);
            .fs(13);
            font-weight: normal;
            >span{
              .pr(5);
              .mr(5);
              .lh(10);
              border-right: 1px solid #FFF;
              &:last-child{
                border-width: 0;
              }
            }
          }
        }
        a.orange-bg {
          .w(85);
          .h(32);
          .lh(32);
          .pl(15);
          .pr(10);
          text-align: center;
          position: absolute;
          right: 0;
          top: 0.4rem;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          >span {
            .fs(12);
          }
        }
      }
    }
  }
}