.roomsList{
  .pb(1);
  background: white;
  .hotel-info-banner{
    .pt(12);
    .pl(19);
    .pr(19);
    color: #424242;
    >div{
      .pb(12);
      border-bottom: 1px solid #ececec;
      .name{
        .fs(15);
      }
      .address{
        max-width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        >i{
          .mr(5);
          &:first-child{
            color: #26ae75;
          }
          &:last-child{
            .ml(5);
            .fs(15);
          }
        }
        .mt(10);
        .fs(12);
      }
    }
  }
  .hotel-comment-banner{
    color: #020202;
    .pt(12);
    .pl(19);
    .pr(19);
    >div{
      display: flex;
      .pb(12);
      justify-content: space-between;
      border-bottom: 1px solid #ececec;
      align-items: center;
      .score {
        display: flex;
        >span{
          display: flex;
          .mr(8);
          align-items: center;
          .fs(20)
        }
        .comment{
          .stars {
            .fs(13);
            color: #d7954e;
          }
          color: #b8b8b8;
          >span{
            .fs(12);
          }
          .fa-angle-right{
            .ml(5);
          }
        }
      }
      .date-time{
        display: flex;
        flex-direction: column;
        >div{
          >span{
            .fs(14);
            &:first-child {
              .mr(15);
              color: #9b9b9b;
            }
            &:last-child {
              color: #5f5f5f;
            }
          }
        }
      }
      .days-diff{
        display: flex;
        align-items: center;
        color: #666;
        >span{
          color: #d58e44;
        }
        .fa{
          .ml(10);
        }
      }
    }
  }
  .list{
    h1{
      .mt(12);
      .mb(12);
      .fs(15);
      font-weight: 400;
      color: #999;
    }
  }
  ul{
    margin: 0;
    .mt(5);
    padding: 0;
    .pl(10);
    .pr(10);
    list-style: none;
    >li{
      .mb(20);
      > div.shade-wrapper{
        .h(120);
        background-size: cover;
        background-position: center center;
        border-radius: 6px;
      }
      > div.toggle-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8px;
        .price {
          .fs(12);
          color: #999;
          >span{
            color: #d38519;
          }
          >div.origin{
            padding: 0 3px;
            font-family: 'ms-constan';
            .fs(24);
            color: #d38519;
          }
          &.price-expanded {
            >span {
              color: #999;
              text-decoration: line-through;
            }
            >div.origin {
              color: #999;
              text-decoration: line-through;
            }
          }
        }
        >.toggle-btn{
          color: #999;
          .fs(13);
          i {
            padding-right: 5px;
          }
        }
      }
      > div.order-bar{
        display: flex;
        padding: 12px 10px;
        margin: 10px 0px;
        justify-content: space-between;
        align-items: center;
        background-color: #f3f3f3;
        border-radius: 5px;
        color: #272727;
        position: relative;
        .fs(15);
        > .price > span {
          .pl(10);
          color: #d38519;
        }
        > .order-btn{
          .pt(2);
          .pb(2);
          .pl(10);
          .pr(10);
          border-radius: 3px;
          background: #2bb078;
          > a {
            color: white;
          }
        }
        &:before{
          position: absolute;
          content: '';
          width: 0;
          height: 0;
          display: block;
          border-width: 10px;
          border-style: solid;
          border-color: transparent transparent #f3f3f3 transparent;
          top: -19px;
          left: 26px;
        }
      }
      a{
        display: block;
        text-decoration: none;
        width: 100%;
        height: 100%;
      }
      .shade{
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background-color: rgba(0,0,0,0.2);
        .desc{
          flex: 1;
          .pl(10);
          color: #fdfbf8;
          .fs(15);
          .bottom(8);
          .labels{
            .fs(12);
            color: #dbdbdb;
            >span{
              .pr(5);
              .mr(5);
              .lh(10);
            }
          }
        }
      }
    }
  }
}
