.room-detail{
  .pb(10);
  .fs(17);
  color: #414141;
  background: #f7f8fc;
  position: fixed;
  bottom: 0;
  .left(10);
  .right(10);
  z-index: 1000;
  transition: 1s linear;
  .room-preview{
    .h(200);
    background-size: cover;
    background-position: center;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .content-wrapper{
    .pl(10);
    .pr(10);
  }
  .features{
    .pt(18);
    >ul{
      >li {
        .pb(10);
      }
      list-style: none;
      line-height: 0.65rem;
      font-weight: 200;
      .fs(14);
    }
  }
  .devices{
    .pt(18);
    .pb(10);
    .max-h(220);
    overflow: hidden;
    border-bottom: 1px solid #ebebeb;
    >ul{
      display: flex;
      flex-wrap: wrap;
      .lh(32);
      >li{
        width: 33.3%;
        .pb(5);
        font-weight: 300;
        >i.fa{
          .mr(5);
          color: #434343;
        }
        >span {
          .fs(14);
        }
      }
    }
  }
  .p-l{
    width: 30% !important;
    .pl(10);
  }
}

@keyframes slideInUp {
  0% {
    transform: translate(0, 100%);
    visibility: visible;
  }
  100% {
    transform: translate(0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
